

.header{
    display: flex;
    gap: 60%;
    border: solid 1px;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 20px;

}
#icons{
    float: right;
    gap: 20px;
}
#contact{
    float: right;
}
#navbar{
display: flex;
justify-content: space-between;


}.button{
   border-radius: 2px; 
   padding:2px;
   background-color: red;
   color:black;
   width: 190px;
}.button:hover{
    background-color:red;
    color:white;
}.Testimonials{
    text-align: center;
    font-size: 30px;
}
#image{
    background-image: url(code1.png);
    background-repeat:no-repeat;
    background-size: 200%;
    color:aliceblue;
    border-radius:25px;
    justify-content: center;
}

#textblock{
    margin-left: 10%;
    font-size: larger;

}
.button1{
    background-color:red;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-left: 100px;
}
    



    







