
body{
    background-color:burlywood ;
}
.header{
    display: flex;
    gap: 60%;
    border: solid 1px;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 10px;
    

}
#icons{
    float: right;
    gap: 90px;
    font-size: small;
}
#contact{
    float: right;
}
#navbar{
display: flex;
justify-content: space-between;


}.button{
   border-radius: 2px; 
   padding:8px;
   background-color:rebeccapurple;
   color:white;
   width: 170px;
   border :2px solid red;
   box-shadow: inset;
}.button:hover{
    background-color:red;
    color:white;
}.Testimonial a{
    text-align: center;
    font-size: 30px;
    justify-content: center;
}
#image{
    background-image: url(images/code1.png);
    background-repeat:no-repeat;
    background-size: 100vw 100vh;
    color:aliceblue;
    justify-content: center;
    background-color: blue;
    height: 90vh;
}

#textblock{
    margin-left: 10%;
    font-size: larger;

}
.button1{
    background-color:red;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-left: 100px;

}.column{
    float:left;
    width:20%;
    padding:0.5px;
}.row{
   margin: 0 -5px; 
}.row:after{
    content: "";
    display:table;
    clear:both;
}.box sizing{
    box-sizing: border-box;
}.IT{

    border:solid 2px;
    border-color: azure;
    color:black;
}.image4 img{
    border-radius:50%;
    width:150px;
    height:150px;
    border: dotted;


}.img hover{
    box-shadow:0 2px rosybrown;
}.glass{
    color:brown;
}.tech{
    background-color: blue;
    color:azure;
    width:100%;
    padding:1%;
    margin-top: 6px;
    border-radius:40px;
}#item{
display:flex;
float:left;
margin-top:20px;
gap:5%;
}.btnn{
    border-radius:6px;
    background-color:maroon;
    color:white;
    text-align:center;
    padding:20px;
    width:200px;
    transition:all o.8s;
    cursor:pointer;

}
.glass{
    background-image: url();

}
#textblock{
    margin-left: 5%;
    font-size:x-large;
    text-align: center;
}.body{
 
 
}.master{
    
    background-size: cover;
}.container{
    padding:0 6%;
    margin:auto;
    display:flex;
}.countheading{
    
    flex:1;
    text-align:center;
    font-size:20px;
    color:orangered;
    background-color:white;
    gap:50px;
}.count h1{
    font-size:20px;
}.technva{
    border-radius:50px;
}.technvaa{
    border-radius:10px;
}#solutionss{
    text-align: center;
    float:left;
    justify-content: center;
    
}
   
.comprehend{
    display:flex;
    text-align: center;
    gap:20%;
    bottom:0;
    background-color: black;
    width:100%;
    color:white;
    margin-top:5%;

}.comprehend p{
    font-size: medium;
}#section{
    display:flex;
    float: right;
}.code9{
    float:left;
    align-items: center;
}.consultants{
    display:flex;

}
  
    
    





   
        
    
   |

    


    display:flex;

    



    







